<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/IntelliJ Java Backup/ActiTime/src/com/actitime/timetrack/ActiInvalidLogin.java">
        <classes>
            <class name="com.actitime.timetrack.ActiInvalidLogin">
                <methods>
                    <include name="invalidLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>